# Apresentando o Pandas

- Biblioteca mais popular para tratamento e análise de dados
- Consegue trabalhar facilmente com vários formatos de arquivos (CSV, JSON, XLSX...)
- Vamos trabalhar MUITO com a biblioteca ao longo da nossa formação!

In [1]:
import pandas as pd

# Método read_csv()

- Lê arquivos no formato CSV
- Coloca os dados em um formato tabular chamado DataFrame

In [8]:
arquivo = pd.read_csv("csv.csv", delimiter=";", header=None, names=["nome", "idade"])

In [9]:
print(arquivo)
arquivo

      nome  idade
0     josé     30
1  gabriel     25
2    lucas     15
3      ana     45
4    maria     60
5   victor     70

      nome  idade
0     josé     30
1  gabriel     25
2    lucas     15
3      ana     45
4    maria     60
5   victor     70

# Método read_json()

- Lê arquivos no formato JSON
- Coloca os dados em um formato tabular chamado DataFrame

In [10]:
arquivo = pd.read_json("json.json")

In [11]:
arquivo

      nome  idade
0   Marcio     24
1     João     21
2  Gabriel     45

# Salvando um arquivo com o Pandas

In [12]:
arquivo.to_csv("json_to_csv.csv", index=False)

In [13]:
arquivo = pd.read_csv("json_to_csv.csv")
arquivo

      nome  idade
0   Marcio     24
1     João     21
2  Gabriel     45